/* App wide css */

* {
    box-sizing:border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    padding: 5px;
    overflow: hidden;
}

#main > nav {
    margin-bottom: 10px;
}

#appTitle {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

#refreshBtn {
    float: right;
    margin-top: 5px;
}

ul {
    margin: 0;
    height: 525px;
    overflow: auto;
}

li {
    border: 0px solid #E0E0E0;
    border-radius: 1px;
    padding: 5px;
    margin-bottom: 1px;
    background: #F0F0F0;
    color: Black;
}