/* App wide css */

html, body {
  margin: 0;
  height: 100%;
}

body {
  padding: 15px;
  overflow: hidden;
}

#main > nav {
  margin-bottom: 10px;
}

#appTitle {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

#refreshBtn {
}

ul {
  margin: 0;
  height: 525px;
  overflow: auto;
}

li {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 3px;
  background: -webkit-linear-gradient(right, #eee, rgba(255,255,255,0), #eee);
  color: #666666;
}